body::before{
    display: block;
    content: "";
    height: 70px;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

ul li a:is(:hover,.active, :focus-visible){
    background: #17a2b8;
    border-radius: 5px;
}